<%= @search %>
<div id="search-result">	
</div>
<div id="audio">
	<audio id="myplayer" controls preload="none" >
		<source src="" type="" id="source"></source>
	</audio>	
</div>
<div id="controller">

<input type="button" id="previoustrack" value="prev" title="previoustrack"/>	
<input type="button"  name="playbutton" value="play" id="notplaying"  title="Play"/>
<input type="button" id="nexttrack" value="next" title="previoustrack"/>
<input type="button" class="shuffle off" id="shuffle" value="shuffle" title="shuffle media"/>
<input type="range"   min="0" max="500"  value="0" step="any" id="seekBar"/>
<span id="timer">
 <span id="currentTime"></span>
 <span id="duration"></span>
</span>
<input type="button" class ="mute false" id="muteButton" value="mute" title="Mute"/>
<input type="range" id="volumeControl" min="0" max="1" value="1" width="20%" height="100" step="any" />

</div>
