<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hate to see you go but its probably fore the best</h1>
    <p>
     follow this link to delete yourself,
    </p>
    <p>
     <a href="<%= @url %>">delete account</a> 
    </p>
    <p>by the way fuck you!</p>
  </body>
</html>