<div id="audio">
	<audio id="myplayer"  preload="none" >
		<source src="" type="" id="source"></source>
	</audio>	
</div>
<div id="player">
				<button id="hideshowplayer" data-hide="hidden" data-toggle="collapse" title="hideshowplayer" class="hide" data-target="#controller"><span class="glyphicon glyphicon-chevron-up" id="hideShowPlayer" aria-hidden="true"></span></button>
	<div id="songdata">
		<div id="albumart">
			<img id="playerArt" src="<%= @url %>/images/fallback/default.png" alt="placeholderimage" >
		</div>
		<div id="songinfo">

		</div>
	</div>
	<div id="controller" class="collapse">
		
		<div class="row">
			<div class="col-xs-2">
				
			</div>
			<div class="col-xs-2">
				<button id="previoustrack" title="previoustrack" aria-label="Previous track">
					<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button>
			</div>

			<div class="col-xs-2">
				<button  name="playbutton" id="notplaying"  title="Play" aria-label="Play Music">
					<span class="glyphicon glyphicon-play" id="playIcon" aria-hidden="true"></span>
				</button>
			</div>

			<div class="col-xs-2">
				<button id="nexttrack" title="previoustrack" aria-label="Next track">
					<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-xs-2">
				<button class="shuffle off" id="shuffle" title="shuffle media">
					<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-xs-2">
				
			</div>
		</div>
		<div class="row">
			
			<div class="col-xs-10">
				<input type="range"   min="0" max="500"  value="0" step="any" id="seekBar"/>
			</div>
			<div class="col-xs-2">
				<div id="timer">
			 		<p id="currentTime">0:00</p>
			 	</div>
		</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<button class ="mute false" id="muteButton" title="Mute">
				<span class="glyphicon glyphicon-volume-up" id="muteIcon" aria-hidden="true"></span>
				</button>
				<input type="range" id="volumeControl" min="0" max="1" value="1" width="20%" height="100" step="any" />
			</div>

		</div>	

	</div>
</div>
