<div class="form-group">
<%= label_tag(:email) %>

<%= text_field_tag(:email ,nil, :class => "form-control" , :placeholder => "Email") %>

<%= label_tag(:password) %>

<%=password_field_tag(:password,nil,:class => "form-control" ,:placeholder => "Password") %>



</div>