<% @page_title = "Login" %>
<%= error_messages_for(@user) %>

<h2>Login</h2>
<%= form_tag(:action => "attempt_login" , :controller => "login") do |f| %>

	<%= render(:partial => "form" , :locals => {:f => f}) %>
	<%= submit_tag("Login", :class => "btn btn-primary") %>
<% end %>
