html, body{
  height:100%;
  
}
#main{
	margin:5%;
}
.none{
	display: none;
}

.fox{
	background-image: url('nyc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#mainContent{
	height:100%;
}
#albumart img{
 width:200px;
}
#album-info{
	width: 70%;
}
#album-info li {
	float :left;
	margin-right:10px;
	list-style: none;
}
#album-info a {
	color: black;
}
#album-info ul {
	padding:0;
	margin:0;
}
#album-info th h2{
	margin-left :10%;
}
.table {
	margin-bottom :50px;
	   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;

}
.table td{
	font-weight: bold;
	font-size: 11px;
}
.table a {
	color:black;
}
.jumbotron{
	margin:30px;
}
#result{
	width: 100%;
}
.table-hover tbody tr:hover td {
  background-color: #FF751A;
  color: white;
  cursor: pointer;

  
}
.table-hover tbody tr:hover td a, .table-hover tbody tr:hover td p ,.table-hover tbody tr:hover th{
  color: white;
}

.table-hover :focus {
  background-color: #FF6600;
  color: white;
  cursor: pointer;

  
}
.table-hover :focus a{
  background-color: #FF6600;
  color: white;
  cursor: pointer;

  
}
.table-hover :focus p{
  color: white;
}

.song-active  a , .song-active p {
	color: #FF6600;
}

.collapse{
	display: block;
}
.hundred{
	height: 100%;
}
.row-hundred{
	height: 100%
}
.relative{
	position: relative;
}
.right{
	float:right;
}
.overflow-hide{
	overflow:scroll;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: block;
}
.clearfix:after{
	clear: both;
}
#container{
	height:90%;

}
#artist-info{
	margin-bottom: 20px;
}
#sidebar{

	height: 90%;
    width: auto;
    position: absolute;
    float: left;
    bottom: 0;
}

.navbar-inverse{
	margin-bottom: 0px;
}
.navbar-header{
	width:70%;
}

/*albumview img*/
.albuminfo{
	margin-bottom: 20px;


}
#album-info{
	width: 100%;
}
.albuminfo img {
	 	height:100px;
	
	 	width:100px;
}
.albuminfo a {
	margin-left: 10px;
	color: black;
}
#album-info a , #album-info p{
  margin-top: 10px;

  font-weight: bold;
  font-size: 11px;
  
}

.searchResult{
	    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

