<div class="jumbotron">
  <h1>Welcome to music service</h1>
  <p>Register now to acces 2-4 songs with promise of more</p>
	<p>
		<%= link_to "Register",new_user_path, 
            :class=>"btn btn-primary btn-lg" , :role => "button"  %>
    </p>        
  

</div>